html
body
    form(action="/upload", method="post",  enctype="multipart/form-data") 
        p Upload mp3
        //- label(for="name") Name: 
        //- input(name='name')
        br
        input#file(type='file', name="music")
        input(type='submit')
    each val, index in data
        p name: #{val.filename} id: #{val._id}
        audio(controls, id=`audio${index}`)
            source(src=`http://localhost:8080/music/${val._id}`)
    button(onclick="playaudio()") Play
        //- ObjectId("5dd12752a08d34be2223e4eb")
    script. 
        function playaudio() {
            const audio = document.getElementById('audio0')
            audio.play()
            alert('hihi')
        }